/*
 * Color palette from https://www.color-hex.com/color-palette/1010466
 */

body{
    align-items: center;
    background-color: #0096a3;
    color: #292934;
    display: flex;
    flex-direction: row;
    font-size: large;
    height: 100vh;
    justify-content:space-evenly;
    margin: 0px;
    width: 100vw;
}

.box{
    border-color: #292934;
    border-style: solid;
    border-width: .1px;
    display: flex;
    margin: auto;
    min-height: 6px;
    min-width: 6px;
}

#reset-button{
    background-color: #0096a3;
    border: none;
    border-radius: 5px;
    color: #292934;
    cursor: pointer;
    padding: 6px 20px;
    text-decoration: none;
}

#reset-button:active{
    background-color: #67c2d4;
    border: none;
    border-radius: 5px;
    color: #292934;
    cursor: pointer;
    padding: 6px 20px;
    text-decoration: none;
    transform: translateY(4px);
}

#boxes-div{
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    max-width: 50vw;
}

.box-row{
    display: flex;
}

#menu-div{
    align-items: center;
    background-color: #ac4861;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    min-width: 50vw;
}
